<article>
  <div class="cookbook">
    <div class="cookbook__header">
      <h2 class="cookbook__header__title">Cookbooks</h2>

      <button
        mat-flat-button
        color="primary"
        class="cookbook__button"
        (click)="openCreateCookbook()"
      >
        <mat-icon>add</mat-icon>
        Create cookbook
      </button>
    </div>
  </div>
  @if (this.errorMessage === '') {

  <div class="cookbook-list">
    <div class="cookbook-list__search">
      <mat-form-field
        class="cookbook-list__search-container"
        appearance="outline"
      >
        <mat-label>Search cookbooks</mat-label>
        <input
          matInput
          [formControl]="searchControl"
          placeholder="Search by title..."
          class="cookbook-list__search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="cookbook-list__grid">
      @for (cookbook of cookbookData?.content; track cookbook.id) {
      <app-cookbook-card [cookbook]="cookbook"></app-cookbook-card>
      } @empty {
      <p class="cookbook-list__empty">We could not load your cookbooks.</p>
      }
    </div>
    <div class="cookbook-list__pagination">
      <button
        mat-icon-button
        class="cookbook-list__btn"
        (click)="previousPage()"
        [disabled]="cookbookData?.first"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>Page {{ currentPage + 1 }} of {{ cookbookData?.totalPages }}</span>
      <button
        mat-icon-button
        class="cookbook-list__btn"
        (click)="nextPage()"
        [disabled]="cookbookData?.last"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  } @else {
  <div class="cookbook-list__error">
    <p class="cookbook-list__empty">{{ errorMessage }}</p>
    <button mat-raised-button (click)="loadCookbooks()">Try Again</button>
  </div>
  }
</article>
