<article>
  <div class="recipe-list">
    <div class="recipe-list__search">
      <mat-form-field appearance="outline">
        <mat-label>Search Recipes</mat-label>
        <input
          matInput
          [formControl]="searchControl"
          placeholder="Search by title..."
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="recipe-list__grid">
      @for (recipe of recipeData?.content; track recipe.id) {
        <app-recipe [recipe]="recipe"></app-recipe>
      } @empty {
        <p class="recipe-list__empty">No recipes to display</p>
      }
    </div>
    <div class="recipe-list__pagination">
      <button
        mat-icon-button
        class="recipe-list__btn"
        (click)="previousPage()"
        [disabled]="recipeData?.first"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span>Page {{ currentPage + 1 }} of {{ recipeData?.totalPages }}</span>
      <button
        mat-icon-button
        class="recipe-list__btn"
        (click)="nextPage()"
        [disabled]="recipeData?.last"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</article>
