<div class="recipe-dialog__header">
  <h2 mat-dialog-title class="recipe-dialog__title">{{ recipe.name }}</h2>
  <div class="recipe-dialog__header-actions">
    <div class="recipe-dialog__action-btns">
      @if(recipe.status === 'PUBLISHED' && this.authState.currentUser()) {

      <button
        class="recipe-dialog__like-btn"
        mat-icon-button
        (click)="toggleFavorite()"
      >
        <mat-icon [class.liked]="recipe.likedByCurrentUser">
          {{ recipe.likedByCurrentUser ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>
      }
      <button mat-icon-button mat-dialog-close class="recipe-dialog__close-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    @if (this.isOwner()) {
    <div class="recipe-dialog__owner-actions">
      @if(this.recipe.status === "DRAFT") {
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        class="recipe-dialog__btn"
        (click)="openEditDialog()"
      >
        Edit Recipe
      </button>
      <button
        mat-stroked-button
        color="warn"
        mat-dialog-close
        class="recipe-dialog__delete recipe-dialog__btn"
        (click)="onDelete()"
      >
        Delete Recipe
      </button>
      } @if ((this.recipe.status === "PUBLISHED" || this.recipe.status ===
      "ARCHIVED")) {
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        class="recipe-dialog__btn"
        (click)="onRevise()"
      >
        Revise Recipe
      </button>
      } @if (this.recipe.status === "PUBLISHED") {

      <button
        mat-stroked-button
        color="warn"
        mat-dialog-close
        class="recipe-dialog__btn"
        (click)="onArchive()"
      >
        Retire Recipe
      </button>
      }
    </div>
    }
  </div>
</div>

<mat-dialog-content>
  <div class="recipe-dialog__description">
    <a
      class="recipe-dialog__img-container"
      [routerLink]="['/recipe', recipe.id]"
    >
      <img
        class="recipe-dialog__img"
        [src]="imageUrl + recipe.imageUrl + '-thumb.jpg'"
        [alt]="recipe.name"
      />
    </a>
    <p class="recipe-dialog__p">{{ recipe.description }}</p>
  </div>

  <div class="recipe-dialog__section">
    <div class="recipe-dialog__div">
      <h3 class="recipe-dialog__h3">Ingredients</h3>

      <ul>
        @for(ingredient of sortedIngredients(); track $index) {
        <li class="recipe-dialog__ingredient">
          {{ingredient.quantity}} {{ingredient.unit}} of {{ingredient.name}}
        </li>
        }
      </ul>
    </div>

    <div class="recipe-dialog__div">
      <h3 class="recipe-dialog__h3">Directions</h3>

      <ul>
        @for(direction of sortedDirections().slice(0, 2); track $index) {
        <li class="recipe-dialog__direction">
          Step {{direction.stepNumber}}: {{direction.description}}
        </li>
        } @if(sortedDirections().length > 2) {
        <li class="recipe-dialog__direction recipe-dialog__more">
          ...see all {{sortedDirections().length}} steps
        </li>
        }
      </ul>
    </div>
  </div>
</mat-dialog-content>

<div class="recipe-dialog__footer">
  <div class="full-recipe-btn">
    <a
      mat-raised-button
      class="recipe-dialog__full-recipe"
      [routerLink]="['/recipe', recipe.id]"
    >
      See full recipe
    </a>
  </div>
  @if(this.recipe.status === "PUBLISHED") {
  <button mat-icon-button [matMenuTriggerFor]="actionMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #actionMenu="matMenu">
    @for (action of moreActions; track $index) {
    <button mat-menu-item (click)="action.action(recipe)">
      {{action.label}}
    </button>
    }
  </mat-menu>
  }
</div>
