<section class="recipe-card">
  <mat-card align="center">
    <mat-card-content class="recipe-card__content" (click)="openRecipe(recipe)">
      <mat-card-title class="recipe-card__title">{{
        recipe.name
      }}</mat-card-title>
      <img
        [src]="imageUrl + recipe.imageUrl + '-thumb.jpg'"
        [alt]="recipe.name"
        class="recipe-card__img"
      />
    </mat-card-content>
    <mat-card-actions align="end">
      @if (recipe.status === 'PUBLISHED') {
        <div class="recipe-card__metrics">
          <div class="recipe-card__metrics__div">
            <button
              class="recipe-card__like-btn"
              mat-icon-button
              (click)="toggleFavorite(recipe)"
            >
              <mat-icon [class.liked]="recipe.likedByCurrentUser">
                {{ recipe.likedByCurrentUser ? 'favorite' : 'favorite_border' }}
              </mat-icon>
            </button>
            {{ recipe.likeCount }} likes
            <p class="recipe-card__metrics__p"></p>
          </div>
          <div class="recipe-card__metrics__div">
            <button
              class="recipe-card__like-btn"
              mat-icon-button
              (click)="toggleFavorite(recipe)"
            >
              <mat-icon [class.liked]="recipe.likedByCurrentUser">
                {{ recipe.likedByCurrentUser ? 'bookmark' : 'bookmark_border' }}
              </mat-icon>
            </button>
            <p class="recipe-card__metrics__p">
              {{ recipe.viewCount }} bookmarks
            </p>
          </div>
        </div>
      }
    </mat-card-actions>
  </mat-card>
</section>
