<div class="cookbook-page">
  @if (cookbook(); as cookbook) {
  <mat-card class="cookbook-hero">
    <img
      class="cookbook-image"
      [src]="imageUrl + cookbook.imageUrl + '-medium.jpg'"
      [alt]="cookbook.name"
    />
    <div class="cookbook-hero__content">
      <div class="cookbook-hero__info">
        <div class="cookbook-hero__header">
          <div class="cookbook-hero__title__div">
            <h1 class="cookbook-hero__title">{{ cookbook.name }}</h1>
            <span class="cookbook-share__cookbook-owner">
              by {{ cookbook.ownerUsername }}
            </span>
          </div>
          <div class="cookbook__owner-actions">
            @if(cookbook.permission === 'OWNER') {
            <button mat-raised-button (click)="onEditCookbook()">
              Edit Details
            </button>
            } @if(cookbook.type === "NORMAL" && cookbook.permission === 'OWNER')
            {
            <button
              mat-stroked-button
              mat-dialog-close
              class="cookbook__delete"
              (click)="onDelete()"
            >
              Delete Cookbook
            </button>
            } @if(cookbook.permission === 'OWNER' || cookbook.permission ===
            'READ_WRITE'){
            <button mat-raised-button (click)="onCookbookShare()">
              Share Cookbook
            </button>
            } @if(cookbook.permission === 'OWNER') {
            <button mat-raised-button (click)="onManageAccess()">
              Manage Access
            </button>
            }
          </div>
        </div>
        <p class="cookbook-description">{{ cookbook.description }}</p>
        <div class="cookbook-meta"></div>
      </div>
    </div>
  </mat-card>
  <div class="cookbook-content"></div>
  <div class="cookbook-recipe__grid">
    @for (recipe of cookbook.recipes; track recipe.id) {
    <app-recipe [recipe]="recipe"></app-recipe>
    } @empty {
    <p class="recipe-list__empty">No recipes to display</p>
    }
  </div>
  } @else {
  <div>cookbook does not exist or is not viewable.</div>
  }
</div>
