.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  margin: 3% 0;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header__buttons {
  display: flex;
  gap: 5%;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.search-field {
  width: 30%;
  max-width: 700px;
}

/* Removes extra bottom spacing Angular Material adds */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

@media screen and (max-width: 950px) {
  mat-toolbar-row {
    flex-direction: column;
    gap: 2vh;
    min-height: 20vh;
  }

  .search-field {
    width: 100%;
  }
}
