mat-toolbar {
  margin-bottom: 2vh;
}

.header__title {
  cursor: pointer;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
  font-size: 2rem;
}

.header__title:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

.spacer {
  flex: 1 1 auto;
}

.mobile-menu {
  display: none;
}

.desktop-nav {
  display: flex;
  gap: 1rem;
}

.header__btn {
  height: 5vh;
  width: 10vw;
}

@media (max-width: 750px) {
  .desktop-nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .header__title {
    font-size: 1.5rem;
  }
}
