.user-recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.user-recipe__button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-recipe__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}
