.user-recipe {
  max-width: 1200px;
  margin: 0 auto;
}

.user-recipe__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.user-recipe__header__title {
  font-size: 2.5rem;
}

.user-recipe__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 5vh;
  font-size: 1rem;
}

.user-recipe__title {
  margin: 3vh auto 1.5vh;
  text-align: center;
  font-size: 2rem;
}

.user-recipe__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 16px;
  margin-bottom: 2vh;
}

.user-recipe__empty {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
