<section class="cookbook-card">
  <mat-card (click)="routeToCookbook()" align="center">
    <mat-card-content class="cookbook-card__content">
      <div class="cookbook-card__title">
        <mat-card-title class="">{{ cookbook.name }} </mat-card-title>
        <span class="cookbook-share__cookbook-owner">
          by {{ cookbook.ownerUsername }}
        </span>
      </div>
      <img
        [src]="imageUrl + cookbook.imageUrl + '-thumb.jpg'"
        [alt]="cookbook.name"
        class="cookbook-card__img"
      />
    </mat-card-content>
  </mat-card>
</section>
