.edit-recipe-dialog__title {
  margin: 2vh 3vw 0;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  max-height: 80vh;
  margin: 0 3vw;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 12px;
}

.ingredient-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 1vw;
  margin-bottom: 5vh;
  background-color: rgba(255, 255, 242, 0.8);
}

.error {
  color: #ba1a1a;
}

@media screen and (max-width: 700px) {
  .ingredient-row {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .ingredient__notes {
    grid-column: 1 / -1;
  }
}
