.viewed-recipes__search-container {
  width: 95%;
  background: white;
  margin: 2vh 3vw;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.viewed-recipes__search {
  width: 50%;
  margin: 0 auto;
}

.viewed-recipes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 16px;
  margin-bottom: 2vh;
}

.viewed-recipes__pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1vw;
}

.viewed-recipes__btn:enabled {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .viewed-recipes__search {
    width: 100%;
  }
}
