.viewed-recipes {
  max-width: 1200px;
  margin: 0 auto;
}

.viewed-recipes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, calc(400px - 2vw)));
  justify-content: center;
  gap: 1vw;
  margin-bottom: 2vh;
}

.viewed-recipes__pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1vw;
}

.viewed-recipes__btn:enabled {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .viewed-recipes__search {
    width: 100%;
  }
}
